@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> Our privacy policy says that <h1>You Should Keep Trying Until You Get Success. Because Failure is Not a Reason to Stop. As Failure It-Self Says (First Attempt In Learning)</h1>.</p>
